[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pycodestyle = "*"
pidocstyle = "*"
pydocstyle = "*"
boto3 = "*"

[packages]
boto3 = "*"
click = "*"
pydocstyle = "*"
pidocstyle = "*"

[requires]
python_version = "3.7"
